In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.getOrCreate()

In [78]:
df = spark.createDataFrame([{'id': 1, 'value': 1,'amount':2}, {'id': 2, 'value': 2,'amount':3}])

In [145]:
from pyspark.sql import DataFrame
from pyspark.sql import functions as F
from typing import List

def addColumnPrefix(df:DataFrame,
                    prefix:str='prefix',
                    colsList:List=[]):
    if not colsList:
        colsList = df.columns
    def _keyExists(s):
        return s in colsList
    cols = list(map(
             lambda col_name:F.col(col_name).alias('{0}_{1}'.format(prefix,col_name))
             if _keyExists(col_name) else F.col(col_name),df.columns))
    return df.select(*cols)
    #if not colsList:
    #    colsList = df.columns
    #return df.select([F.col(c).alias('{0}_{1}'.format(prefix,c)) if c in colsList else
    #                  F.col(c).alias('{0}'.format(c))
    #                  for c in df.columns])

def addColumnSuffix(df:DataFrame,
                    suffix:str='suffix',colsList:List=[]):
    if not colsList:
        colsList = df.columns
    def _keyExists(s):
        return s in colsList
    cols = list(map(
             lambda col_name:F.col(col_name).alias('{0}_{1}'.format(col_name,suffix))
             if _keyExists(col_name) else F.col(col_name),df.columns))
    return df.select(*cols)
    #return df.select([F.col(c).alias('{0}_{1}'.format(c,suffix)) if c in colsList else
    #                  F.col(c).alias('{0}'.format(c))
    #                  for c in df.columns])

In [144]:
addColumnPrefix(df,prefix='test',colsList=['id']).show()

+------+-------+-----+
|amount|test_id|value|
+------+-------+-----+
|     2|      1|    1|
|     3|      2|    2|
+------+-------+-----+

In [103]:
addColumnPrefix(df,prefix='test').show()

+-----------+-------+----------+
|test_amount|test_id|test_value|
+-----------+-------+----------+
|          2|      1|         1|
|          3|      2|         2|
+-----------+-------+----------+

In [80]:
data = spark.read.parquet(r'C:\work\python-packages\mimic\mimic\examples\orders.parquet')

In [83]:
addColumnPrefix(data,prefix='test').show()

['orderID', 'OrderDate', 'OrderValue', 'OrderType', 'OrderCategory', 'city']
+------------+--------------------+---------------+--------------+------------------+---------+
|test_orderID|      test_OrderDate|test_OrderValue|test_OrderType|test_OrderCategory|test_city|
+------------+--------------------+---------------+--------------+------------------+---------+
| ORDLBWA5119|2004-10-02 09:28:...|        8135.52|           COD|              Home|   durham|
| ORDJQOW0469|2013-08-30 12:04:...|        6013.05|           COD|              Home|  toronto|
| ORDADHV6229|2017-09-13 20:33:...|        5115.79|           COD|           Furnish|  toronto|
| ORDOPWV1894|2004-03-03 15:36:...|        5361.52|           COD|       Electronics|  toronto|
| ORDENUU3212|2004-05-26 21:57:...|        2505.97|           COD|           Furnish|   durham|
| ORDKWLI8989|2013-05-30 07:26:...|        6577.39|           COD|              Home|  halifax|
| ORDNTEZ1527|2013-02-18 01:17:...|         5928.3|           COD|           Furnish|  halifax|
| ORDLNTY3345|2008-10-03 02:34:...|        6103.64|           COD|           Furnish|   durham|
| ORDXYPI3010|2008-09-09 08:58:...|        5628.92|           COD|           Furnish|  halifax|
| ORDSPVJ3801|2001-03-05 21:37:...|        4410.64|           COD|              Home|  halifax|
| ORDZYPX5707|2002-08-27 09:01:...|         2024.7|           COD|       Electronics|  halifax|
| ORDPSVH1562|2006-10-08 23:29:...|        9683.48|           COD|              Home|  toronto|
| ORDDNHV8456|2015-12-30 03:30:...|        4724.65|           COD|              Home|   durham|
| ORDQQFP4942|2000-03-09 18:39:...|        2060.94|           COD|              Home|  halifax|
| ORDKZUD7275|2000-06-03 01:05:...|        5607.57|           COD|           Furnish|  halifax|
| ORDEBLV9972|2015-09-25 07:44:...|        3131.81|           COD|              Home|  toronto|
| ORDPLMB0588|2005-10-05 23:01:...|         5073.8|           COD|              Home|   durham|
| ORDIGAC5444|2019-01-12 12:12:...|        4665.17|           COD|       Electronics|  halifax|
| ORDUIJV8919|2010-04-22 02:57:...|         9942.8|           COD|       Electronics|  halifax|
| ORDYFHV5031|2020-06-09 00:50:...|        2979.93|           COD|       Electronics|   durham|
+------------+--------------------+---------------+--------------+------------------+---------+
only showing top 20 rows

In [88]:
addColumnPrefix(df,prefix='test',colsList=['id']).show()

['amount', 'id', 'value']
+-----------+---+----------+
|test_amount| id|test_value|
+-----------+---+----------+
|          2|  1|         1|
|          3|  2|         2|
+-----------+---+----------+

In [89]:
df.columns

['amount', 'id', 'value']

In [90]:
colsList = ['id']

In [93]:
cols = [x for x in df.columns if x not in colsList]

In [94]:
cols

['amount', 'value']

In [104]:
import re

def removeColumnSpaces(df:DataFrame)->DataFrame:
    """
    Adds a suffix to Column names
    Args:
        df       : pyspark DataFrame
    Return:
        pyspark Dataframe
    Example:
    >>>df = spark.createDataFrame([{'id': 1, 'goods value': 1,'total amount':2}])
    >>>removeColumnSpaces(df).show()
        +----------+---+-----------+
        |goodsvalue| id|totalamount|
        +----------+---+-----------+
        |         1|  1|          2|
        +----------+---+-----------+
    
    """
    return df.select([F.col(c).alias('{0}'.format(re.sub(r"\s+", "", c, flags=re.UNICODE))) for c in df.columns])

In [108]:
cd = spark.createDataFrame([{'id': 1, 'goods value': 1,'total amount':2}])

In [109]:
cd.show()

+-----------+---+------------+
|goods value| id|total amount|
+-----------+---+------------+
|          1|  1|           2|
+-----------+---+------------+

In [110]:
removeColumnSpaces(cd).show()

+----------+---+-----------+
|goodsvalue| id|totalamount|
+----------+---+-----------+
|         1|  1|          2|
+----------+---+-----------+

In [127]:
mapping = {'amount':'cash','id':'uniqueID','value':'transaction'}

In [122]:
list(columnsMapping.values())

['cash', 'uniqueID', 'transaction']

In [115]:
columnsMapping['amount']

'cash'

In [112]:
df.columns

['amount', 'id', 'value']

In [128]:
def returnKeys(s):
    return mapping[s]
def ifKeyExists(s):
    return s in mapping
cols =  list(map(
         lambda col_name:F.col(col_name).alias(returnKeys(col_name))
                 if ifKeyExists(col_name) else F.col(col_name),df.columns))

In [129]:
cols

[Column<b'amount AS `cash`'>,
 Column<b'id AS `uniqueID`'>,
 Column<b'value AS `transaction`'>]

In [138]:
from typing import Dict,Callable

def withSomeColumnsRenamed(df:DataFrame,
                              mapping:Dict)->DataFrame:
    def _keys(s):
        return mapping[s]
    def _keysExists(s):
        return s in mapping
    cols = list(map(
         lambda col_name:F.col(col_name).alias(_keys(col_name))
                 if _keysExists(col_name) else F.col(col_name),df.columns))
    return df.select(*cols)

def withColumnsRenamedFunc(df:DataFrame,func:Callable)->DataFrame:
    cols = list(map(
            lambda col_name:F.col(col_name).alias(func(col_name)),df.columns))
    return df.select(*cols)

In [136]:
withSomeColumnsRenamed(df,mapping).show()

+----+--------+-----------+
|cash|uniqueID|transaction|
+----+--------+-----------+
|   2|       1|          1|
|   3|       2|          2|
+----+--------+-----------+

In [146]:
def renameF(s):
    if 'amount' in s:
        return 'cash'
    else:
        return s

withColumnsRenamedFunc(df,renameF).show()

+----+---+-----+
|cash| id|value|
+----+---+-----+
|   2|  1|    1|
|   3|  2|    2|
+----+---+-----+

In [194]:
import datetime
df = spark.createDataFrame([{'id': 1, 'value': 1,'amount':'Some Value','currentTime':datetime.datetime.now()}])

In [195]:
print(df._jdf.schema().treeString())

root
 |-- amount: string (nullable = true)
 |-- currentTime: timestamp (nullable = true)
 |-- id: long (nullable = true)
 |-- value: long (nullable = true)

In [174]:
df.schema

StructType(List(StructField(amount,StringType,true),StructField(id,LongType,true),StructField(value,LongType,true)))

In [181]:
from pyspark.sql.types import *
type(StringType)

type

In [163]:
list(map(lambda x:x.dataType,df.schema))

[StringType, LongType, LongType]

In [182]:
list(filter(None.__ne__, list(map(lambda x:x.name if isinstance(x.dataType,StringType) else None,df.schema))))

['amount']

In [283]:
from pyspark.sql.types import *
from typing import Any,Type
import datetime 
import decimal

_type_mappings =  {type(None): NullType,
 bool: BooleanType,
 int: LongType,
 float: DoubleType,
 str: StringType,
 bytearray: BinaryType,
 decimal.Decimal: DecimalType,
 datetime.date: DateType,
 datetime.datetime: TimestampType,
 datetime.time: TimestampType,
 bytes: BinaryType}

def selectByDtype(df:DataFrame,dtypes:Any)->DataFrame:
    if isinstance(dtypes,list):
        for val in range(len(dtypes)):
            if dtypes[val] in _type_mappings.keys():
                dtypes[val] = _type_mappings[dtypes[val]]
        dtypes = tuple(dtypes)
    elif dtypes in _type_mappings.keys():
        dtypes = _type_mappings[dtypes]
    cols=list(filter(None.__ne__, 
                     list(map(lambda field:field.name if isinstance(field.dataType,dtypes) else None,df.schema))))
    return df.select(*cols)

def getColsByDtype(df:DataFrame,dtypes:Any)->List:
    if isinstance(dtypes,list):
        for val in range(len(dtypes)):
            if dtypes[val] in _type_mappings.keys():
                dtypes[val] = _type_mappings[dtypes[val]]
        dtypes = tuple(dtypes)
    elif dtypes in _type_mappings.keys():
        dtypes = _type_mappings[dtypes]
    cols=list(filter(None.__ne__, 
                     list(map(lambda field:field.name if isinstance(field.dataType,dtypes) else None,df.schema))))
    return cols

In [281]:
dtype = [datetime.datetime,LongType]
for val in range(len(dtype)):
    if dtype[val] in _type_mappings.keys():
        dtype[val] = _type_mappings[dtype[val]]

In [282]:
dtype

[pyspark.sql.types.TimestampType, pyspark.sql.types.LongType]

In [285]:
selectByDtype(df,[datetime.datetime,int]).show()

+--------------------+---+-----+
|         currentTime| id|value|
+--------------------+---+-----+
|2020-10-29 01:00:...|  1|    1|
+--------------------+---+-----+

In [202]:
dtypes = [TimestampType]

In [203]:
for field in df.schema:
    if isinstance(field.dataType,tuple(dtypes)):
        print(field.name)
    #else:
        #print(field.dataType)

currentTime

In [213]:
x='LongType,StringType'
list(x)

['L',
 'o',
 'n',
 'g',
 'T',
 'y',
 'p',
 'e',
 ',',
 'S',
 't',
 'r',
 'i',
 'n',
 'g',
 'T',
 'y',
 'p',
 'e']

In [232]:
from pyspark.sql import types as T
T._type_mappings

{NoneType: pyspark.sql.types.NullType,
 bool: pyspark.sql.types.BooleanType,
 int: pyspark.sql.types.LongType,
 float: pyspark.sql.types.DoubleType,
 str: pyspark.sql.types.StringType,
 bytearray: pyspark.sql.types.BinaryType,
 decimal.Decimal: pyspark.sql.types.DecimalType,
 datetime.date: pyspark.sql.types.DateType,
 datetime.datetime: pyspark.sql.types.TimestampType,
 datetime.time: pyspark.sql.types.TimestampType,
 bytes: pyspark.sql.types.BinaryType}